# Get latest from https://github.com/github/gitignore/blob/master/VisualStudio.gitignore

# User-specific files
*.user

# Build results
bin/
obj/

# Visual Studio 2015/2017 cache/options directory
.vs/

# Benchmark Results
BenchmarkDotNet.Artifacts/

# Coverlet is a free, cross platform Code Coverage Tool
coverage*.json
coverage*.xml
coverage*.info

# Visual Studio code coverage results
*.coverage
*.coveragexml

# VS Code files for those working on multiple tools
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/