## Get latest from https://github.com/github/gitignore/blob/master/VisualStudio.gitignore

# Build results
[Bb]in/
[Oo]bj/

# Visual Studio cache/options directory
.vs/

# Rider
.idea

# MSTest test Results
[Cc]overage[Rr]esult*
[Cc]overage[Rr]eport*
[Tt]est[Rr]esult*

# Verify
*.received.*
*.received/

# Benchmark Results
BenchmarkDotNet.Artifacts/
