# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: Build & Test

permissions:
  contents: read
  pull-requests: write

on:
  push:
    branches:
      - main
      - 'feature/**'
    paths-ignore:
      - 'examples/**'
      - 'benchmarks/**'
      - '**/*.ps1'
      - .editorconfig
      - .gitattributes
      - .gitignore
      - coverlet.runsettings
      - LICENSE
      - README
  pull_request:
    branches:
      - main
      - 'feature/**'
    paths-ignore:
      - 'examples/**'
      - 'benchmarks/**'
      - '**/*.ps1'
      - .editorconfig
      - .gitattributes
      - .gitignore
      - coverlet.runsettings
      - LICENSE
      - README

env:
  BUILD_CONFIGURATION: Debug

jobs:
  build:
    name: Build (${{ matrix.dotnet-version }})
    runs-on: ubuntu-latest
    strategy:
      matrix:
        dotnet-version: [ 8.0.x, 9.0.x, 10.0.x ]
    steps:
      - name: Checkout Git
        uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0.x
          dotnet-quality: ga
      - name: Set DotNet Version
        run: |
          frameworkVersion=`echo 'net${{ matrix.dotnet-version }}' | sed 's/..$//'`
          echo "Framework Version: ${frameworkVersion}"
          echo "FrameworkVersion=${frameworkVersion}" >> $GITHUB_ENV
      - name: Restore
        run: dotnet restore ./FastEnumExtensions.sln

      - name: Build Generator
        run: dotnet build ./src/FastEnum.Extensions.Generator/FastEnum.Extensions.Generator.csproj --no-restore --nologo -c ${{ env.BUILD_CONFIGURATION }} -f netstandard2.0
      - name: Build Integration Tests
        run: dotnet build ./test/FastEnum.Extensions.Generator.Tests.Integration/FastEnum.Extensions.Generator.Tests.Integration.csproj --no-restore --nologo -c ${{ env.BUILD_CONFIGURATION }} -f ${{ env.FrameworkVersion }}
      - name: Build Snapshot Tests
        run: dotnet build ./test/FastEnum.Extensions.Generator.Tests.Snapshot/FastEnum.Extensions.Generator.Tests.Snapshot.csproj --no-restore --nologo -c ${{ env.BUILD_CONFIGURATION }} -f ${{ env.FrameworkVersion }}

      - name: Integration Tests
        run: dotnet test ./test/FastEnum.Extensions.Generator.Tests.Integration/FastEnum.Extensions.Generator.Tests.Integration.csproj --no-build --no-restore --nologo -c ${{ env.BUILD_CONFIGURATION }} -f ${{ env.FrameworkVersion }}
      - name: Snapshot Tests
        run: dotnet test ./test/FastEnum.Extensions.Generator.Tests.Snapshot/FastEnum.Extensions.Generator.Tests.Snapshot.csproj --no-build --no-restore --nologo -c ${{ env.BUILD_CONFIGURATION }} -f ${{ env.FrameworkVersion }}

  analyze:
    name: Analyze (${{ matrix.language }})
    needs: build
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - language: actions
            build-mode: none
          - language: csharp
            build-mode: manual
    permissions:
      security-events: write
      packages: read
      actions: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup .NET
        if: matrix.language == 'csharp'
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0.x
          dotnet-quality: ga

      - name: Initialize CodeQL
        uses: github/codeql-action/init@v4
        with:
          languages: ${{ matrix.language }}
          build-mode: ${{ matrix.build-mode }}
          dependency-caching: true

      - name: Manual Build
        if: matrix.build-mode == 'manual'
        run: dotnet build ./FastEnumExtensions.sln --nologo -c ${{ env.BUILD_CONFIGURATION }}

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v4
        with:
          category: "/language:${{ matrix.language }}"
