# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: Publish

permissions:
  contents: read
  pull-requests: write

on: [ workflow_dispatch ]

env:
  BUILD_CONFIGURATION: Release

jobs:
  build:
    name: Build (${{ matrix.dotnet-version }})
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.out.outputs.Version }}
      tags: ${{ steps.out.outputs.Tags }}
    strategy:
      matrix:
        dotnet-version: [ 8.0.x, 9.0.x ]
    steps:
      - name: Checkout Git
        uses: actions/checkout@v4

      - name: Prebuild
        uses: ./.github/actions/resolve-version
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9.0.x
          dotnet-quality: ga

      - name: Set DotNet Version
        run: |
          frameworkVersion=`echo 'net${{ matrix.dotnet-version }}' | cut -c1-6`
          echo "Framework Version: ${frameworkVersion}"
          echo "FrameworkVersion=${frameworkVersion}" >> $GITHUB_ENV

      - name: Restore
        run: dotnet restore ./FastEnumExtensions.sln

      - name: Build Generator
        run: dotnet build ./src/FastEnum.Extensions.Generator/FastEnum.Extensions.Generator.csproj --no-restore --nologo -c ${{ env.BUILD_CONFIGURATION }} -f netstandard2.0
      - name: Build Integration Tests
        run: dotnet build ./test/FastEnum.Extensions.Generator.Tests.Integration/FastEnum.Extensions.Generator.Tests.Integration.csproj --no-restore --nologo -c ${{ env.BUILD_CONFIGURATION }} -f ${{ env.FrameworkVersion }}
      - name: Build Snapshot Tests
        run: dotnet build ./test/FastEnum.Extensions.Generator.Tests.Snapshot/FastEnum.Extensions.Generator.Tests.Snapshot.csproj --no-restore --nologo -c ${{ env.BUILD_CONFIGURATION }} -f ${{ env.FrameworkVersion }}

      - name: Integration Tests
        run: dotnet test ./test/FastEnum.Extensions.Generator.Tests.Integration/FastEnum.Extensions.Generator.Tests.Integration.csproj --no-build --no-restore --nologo -c ${{ env.BUILD_CONFIGURATION }} -f ${{ env.FrameworkVersion }}
      - name: Snapshot Tests
        run: dotnet test ./test/FastEnum.Extensions.Generator.Tests.Snapshot/FastEnum.Extensions.Generator.Tests.Snapshot.csproj --no-build --no-restore --nologo -c ${{ env.BUILD_CONFIGURATION }} -f ${{ env.FrameworkVersion }}

      - name: Pack
        run: dotnet pack ./src/FastEnum.Extensions.Generator/FastEnum.Extensions.Generator.csproj -c ${{ env.BUILD_CONFIGURATION }} --no-build --no-restore --nologo -o output /p:PackageVersion=${{ env.Version }}

      - name: Save NuGet Package
        uses: actions/upload-artifact@v4
        with:
          name: nuget-${{ env.Version }}-${{ env.FrameworkVersion }}
          path: ./output/FastEnum.Extensions.Generator*.nupkg
          retention-days: 1

      - name: Set Outputs
        id: out
        run: |
          echo "Version=${Version}" >> $GITHUB_OUTPUT
          echo "Tags=${Tags}" >> $GITHUB_OUTPUT

  publish:
    name: Publish
    needs: [build]
    runs-on: ubuntu-latest
    steps:

      - name: Setup .NET
        id: dotnet
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9.0.x
          dotnet-quality: ga

      - name: Set DotNet Version
        run: |
          frameworkVersion=`echo 'net${{ steps.dotnet.outputs.dotnet-version }}' | cut -c1-6`
          echo "Framework Version: ${frameworkVersion}"
          echo "FrameworkVersion=${frameworkVersion}" >> $GITHUB_ENV

      - name: Restore Env
        env:
          Version: ${{ needs.build.outputs.Version }}
          Tags: ${{ needs.build.outputs.Tags }}
        run: |
          echo "Version=${Version}" >> $GITHUB_ENV
          echo "Tags=${Tags}" >> $GITHUB_ENV

      - name: Restore NuGet Package
        id: restore
        uses: actions/download-artifact@v4
        with:
          name: nuget-${{ env.Version }}-${{ env.FrameworkVersion }}

      - name: Print path
        run: ls -lah ${{ steps.restore.outputs.download-path }}/nuget-${{ env.Version }}-net9.0

      - name: Stop
        run: exit 1

      - name: Push to NuGet
        run: dotnet nuget push ./nuget-${{ env.Version }}-net9.0/FastEnum.Extensions.Generator.${{ env.Version }}.nupkg -k ${{ secrets.NUGET_API_KEY }} -s https://api.nuget.org/v3/index.json --skip-duplicate

      - name: Git Tag
        uses: actions/github-script@v7
        with:
          script: |
            const version = process.env.Version;
            const tag = `refs/tags/v${version}`;
            const exists = JSON.parse(process.env.Tags).find(x => x === tag);

            console.log({version, tag, exists});

            if (exists) {
              console.error('Tag already exists! Skip tagging!');
              return;
            }

            github.rest.git.createRef({
              owner: context.repo.owner,
              repo: context.repo.repo,
              ref: ref,
              sha: context.sha
            });
